body {
  background: #748392;
  font-family: Arial;
  margin: 2em;
}

img {
  max-width:100%;
}

nav {
  background: rgba(255,255,255,0.75);
  display: flex;
}

nav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.4s;
}

nav a.active {
  background: white;
}

nav a:hover {
  background: rgba(255,255,255,0.4);
}

.cardgroup {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.card {
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 25px;
  border: solid 10px white;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 1px 20px rgba(0,0,0,0,5);
}
